.tab-selected {
  background: #fff;
  border-color: #aaa !important;
  color: #1976d2 !important;
  border-radius: 5px 5px 0 0;
  font-weight: 700 !important;
  bottom: -1 !important;
}

.tab-selected::after,
.tab-selected::after {
  content: "";
  position: absolute;
  height: 5px;
  left: -1px;
  right: -1px;
  bottom: -5px;
  background: #fff;
}

.tab-panel-selected {
  visibility: visible !important;
}

.green {
  background-color: yellowgreen !important;
}

.brown {
  background-color: chocolate !important;
}